main{
	 width:150px;
	 height : 150px;
	background-color:#000000;
	
}
	.hello-accio
	{
		text-color:#ffffff;
		margin-left:32px;
		padding :10px;
		color:rgb(255, 255, 255);
		
		
	}
/* Your CSS Code here. */